<a href="https://colab.research.google.com/github/shanthivijayan/Python-Data-Analysis/blob/main/Exploratory_Data_Ana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Step 1: Importing Packages
#import libraries
import pandas as pd
import numpy as np

In [ ]:
#load data set
#Step 2: Linking the csv file
df_capita=pd.read_csv("/content/per-capita-energy-use.csv")
df_capita.head()

        Entity Code  Year  Primary energy consumption per capita (kWh/person)
0  Afghanistan  AFG  1980                                          623.92865
1  Afghanistan  AFG  1981                                          786.83690
2  Afghanistan  AFG  1982                                          926.65125
3  Afghanistan  AFG  1983                                         1149.19590
4  Afghanistan  AFG  1984                                         1121.57290

In [ ]:
#Step 3: Reading the Top and Bottom rows
#Reading the Top rows
print("Reading The Top rows \n")
df_capita.head()

Reading The Top rows

        Entity Code  Year  Primary energy consumption per capita (kWh/person)
0  Afghanistan  AFG  1980                                          623.92865
1  Afghanistan  AFG  1981                                          786.83690
2  Afghanistan  AFG  1982                                          926.65125
3  Afghanistan  AFG  1983                                         1149.19590
4  Afghanistan  AFG  1984                                         1121.57290

In [ ]:
#Reading Bottom rows
print("Reading the Bottom rows \n")
print(df_capita.tail())

Reading the Bottom rows

         Entity Code  Year  Primary energy consumption per capita (kWh/person)
10599  Zimbabwe  ZWE  2017                                          3068.0115
10600  Zimbabwe  ZWE  2018                                          3441.9858
10601  Zimbabwe  ZWE  2019                                          3003.6553
10602  Zimbabwe  ZWE  2020                                          2680.1318
10603  Zimbabwe  ZWE  2021                                          2635.1536

In [ ]:
#Step 4: Detailed display of the data using shape, columns, info and other functions
#Shape
df_capita.shape

(10604, 4)

In [ ]:
#Number of elements
df_capita.size

42416

In [ ]:
#Number of records
len(df_capita)

10604

In [ ]:
#Columns
df_capita.columns

Index(['Entity', 'Code', 'Year',
       'Primary energy consumption per capita (kWh/person)'],
      dtype='object')

In [ ]:
#info
df_capita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10604 entries, 0 to 10603
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              10604 non-null  object
 1   Code                                                10098 non-null  object
 2   Year                                                10604 non-null  int64
 3   Primary energy consumption per capita (kWh/person)  10604 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 331.5+ KB

Exploratory
data
analysis
with
Pandas

In [132]:
df_adult=pd.read_csv("/content/adult.csv")
df_adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#1.How many men  and  women (sex  feature) are represented inthis dataset?
df_adult['gender'].value_counts()

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [116]:

#2. What is the average  age (agefeature) ofwomen?
print("The average age of women ")


df=df_adult[df_adult['gender']==' Female']['age'].mean()
df

The average age of women

36.85823043357163

In [123]:
#What is the percentage of German citizens (native-country feature)?

float((df_adult['native-country'] == 'Germany').sum()) / df_adult.shape[0]
df_german=df_adult[df_adult['native-country']==' Germany']
df_german
float((df_adult['native-country'] == ' Germany').sum()) / df_adult.shape[0]

0.004207487485028101

What
are
the
mean
and
standard
deviation
of age
forthose
who
earn
more
than
50K
per
year
(salary
 feature)
and
those
who
earn
less
than
50K
per
year?

In [133]:
df_50=df_adult[df_adult['income']== ' >50K']
print("Mean and standard deviation of age, who earn more than 50K per year ")
print("Mean ",df_50['age'].mean())
print("standard deviation of age",df_50['age'].std())

df_501=df_adult[df_adult['income']== ' <=50K']
print("Mean and standard deviation of age, who earn less than 50K per year ")
print("Mean ",df_501['age'].mean())
print("standard deviation of age",df_501['age'].std())

Mean and standard deviation of age, who earn more than 50K per year
Mean  44.24984058155847
standard deviation of age 10.519027719851826
Mean and standard deviation of age, who earn less than 50K per year
Mean  36.78373786407767
standard deviation of age 14.02008849082488

5
.
 Isittrue
that
people
who
earn
more
than
50K
have
atleast
ahigh
school
education?
(education
–Bachelors,
Prof-school,
Assoc-acdm,
Assoc-voc,
Masters
 or
Doctorate
 feature)

In [140]:
df_high=df_adult.loc[df_adult['income']==' >50K','education'].unique()
df_high

array([' HS-grad', ' Masters', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Doctorate', ' Prof-school', ' Assoc-acdm',
       ' 7th-8th', ' 12th', ' 10th', ' 11th', ' 9th', ' 5th-6th',
       ' 1st-4th'], dtype=object)

Display
age
statistics
foreach
race
(race
 feature)
and
each
gender
(sex
 feature).
Use
groupby()
 and
describe()
.
Find
the
maximum
age
ofmen
of
Amer-Indian-Eskimo
 race.

In [175]:
'''df_group=df_adult.groupby(['race','gender'])
df_group.first()
for item in df_group:

  print(df_group['age'].describe())
  '''
for (race, sex), sub_df in df_adult.groupby(['race', 'gender']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race:  Amer-Indian-Eskimo, sex:  Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race:  Amer-Indian-Eskimo, sex:  Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, sex:  Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, sex:  Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race:  Black, sex:  Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Black, sex:  Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Other, sex:  Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race:  Other, sex:  Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race:  White, sex:  Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  White, sex:  Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

7.Among
whom
isthe
proportion
ofthose
who
earn
alot(>50K)
greater:
married
or
single
men
(marital-status
 feature)?
Consider
asmarried
those
who
have
a
marital-status
 starting
with
Married
 (Married-civ-spouse,
Married-spouse-absent
orMarried-AF-spouse),
the
rest
are
considered
bachelors.

In [157]:

df_adult.loc[(df_adult['gender'] == ' Male') &
     (df_adult['marital-status'].isin([' Married-civ-spouse',
                                   ' Married-spouse-absent',
                                   '  Married-AF-spouse'])), 'income'].value_counts()
#df_adult['marital-status'].unique()

 <=50K    7571
 >50K     5961
Name: income, dtype: int64

In [165]:
df_adult.loc[(df_adult['gender'] == ' Male') &
     (df_adult['marital-status'].isin([' Never-married',
                                   ' Separated',
                                   '  Widowed'])), 'income'].value_counts()
#df_adult['marital-status'].unique()

 <=50K    5936
 >50K      374
Name: income, dtype: int64

8. What
isthe
maximum
number
ofhours
aperson
works
per
week
(hours-per-week
 feature)?
How
many
people
work
such
anumber
ofhours,
and
what
isthe
percentage
ofthose
who
earn
alot(>50K)
among
them?

In [172]:
#df_max=df_adult.loc[(df_adult['hours-per-week']==df_adult['hours-per-week'].max()) & (df_adult['income'] ==' >50K')]
print("Maximum number of hours a person works per week ",df_adult['hours-per-week'].max())
df_max=df_adult.loc[df_adult['hours-per-week']==df_adult['hours-per-week'].max()]
print("Number of people work maximum hours ",df_max.shape[0])

Maximum number of hours a person works per week  99
Number of people work maximum hours  85

9.Count
the
average
time
ofwork
(hours-per-week
)forthose
who
earn
alittle
and
a
lot(salary
)foreach
country
(native-country
).What
will
these
beforJapan?

In [179]:
for (country, salary), sub_df in df_adult.groupby(['native-country', 'income']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))
    if sub_df['native-country'].str.contains(' Japan').any():
      print("special",country, salary, round(sub_df['hours-per-week'].mean(), 2))

 ?  <=50K 40.16
 ?  >50K 45.55
 Cambodia  <=50K 41.42
 Cambodia  >50K 40.0
 Canada  <=50K 37.91
 Canada  >50K 45.64
 China  <=50K 37.38
 China  >50K 38.9
 Columbia  <=50K 38.68
 Columbia  >50K 50.0
 Cuba  <=50K 37.99
 Cuba  >50K 42.44
 Dominican-Republic  <=50K 42.34
 Dominican-Republic  >50K 47.0
 Ecuador  <=50K 38.04
 Ecuador  >50K 48.75
 El-Salvador  <=50K 36.03
 El-Salvador  >50K 45.0
 England  <=50K 40.48
 England  >50K 44.53
 France  <=50K 41.06
 France  >50K 50.75
 Germany  <=50K 39.14
 Germany  >50K 44.98
 Greece  <=50K 41.81
 Greece  >50K 50.62
 Guatemala  <=50K 39.36
 Guatemala  >50K 36.67
 Haiti  <=50K 36.33
 Haiti  >50K 42.75
 Holand-Netherlands  <=50K 40.0
 Honduras  <=50K 34.33
 Honduras  >50K 60.0
 Hong  <=50K 39.14
 Hong  >50K 45.0
 Hungary  <=50K 31.3
 Hungary  >50K 50.0
 India  <=50K 38.23
 India  >50K 46.48
 Iran  <=50K 41.44
 Iran  >50K 47.5
 Ireland  <=50K 40.95
 Ireland  >50K 48.0
 Italy  <=50K 39.62
 Italy  >50K 45.4
 Jamaica  <=50K 38.24
 Jamaica  >50K 41.1
 Japan  <=50K 41.0
special  Japan  <=50K 41.0
 Japan  >50K 47.96
special  Japan  >50K 47.96
 Laos  <=50K 40.38
 Laos  >50K 40.0
 Mexico  <=50K 40.0
 Mexico  >50K 46.58
 Nicaragua  <=50K 36.09
 Nicaragua  >50K 37.5
 Outlying-US(Guam-USVI-etc)  <=50K 41.86
 Peru  <=50K 35.07
 Peru  >50K 40.0
 Philippines  <=50K 38.07
 Philippines  >50K 43.03
 Poland  <=50K 38.17
 Poland  >50K 39.0
 Portugal  <=50K 41.94
 Portugal  >50K 41.5
 Puerto-Rico  <=50K 38.47
 Puerto-Rico  >50K 39.42
 Scotland  <=50K 39.44
 Scotland  >50K 46.67
 South  <=50K 40.16
 South  >50K 51.44
 Taiwan  <=50K 33.77
 Taiwan  >50K 46.8
 Thailand  <=50K 42.87
 Thailand  >50K 58.33
 Trinadad&Tobago  <=50K 37.06
 Trinadad&Tobago  >50K 40.0
 United-States  <=50K 38.8
 United-States  >50K 45.51
 Vietnam  <=50K 37.19
 Vietnam  >50K 39.2
 Yugoslavia  <=50K 41.6
 Yugoslavia  >50K 49.5

In [181]:
pd.crosstab(df_adult['native-country'], df_adult['income'],
           values=df_adult['hours-per-week'], aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
income,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,...,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,...,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5

10
.
Find
out
the
total
number
ofhours
worked
and
mean
salary
asper
different
occupations.

In [187]:
df_occupation=df_adult.groupby(['occupation', 'income'])
df_occupation.first()
df_occupation['hours-per-week'].sum()

occupation          income
 ?                   <=50K     51899
                     >50K       6904
 Adm-clerical        <=50K    120837
                     >50K      20758
 Armed-Forces        <=50K       326
                     >50K         40
 Craft-repair        <=50K    131895
                     >50K      41510
 Exec-managerial     <=50K     89817
                     >50K      93103
 Farming-fishing     <=50K     40474
                     >50K       6234
 Handlers-cleaners   <=50K     48313
                     >50K       3675
 Machine-op-inspct   <=50K     70752
                     >50K      10841
 Other-service       <=50K    108444
                     >50K       5898
 Priv-house-serv     <=50K      4865
                     >50K         35
 Prof-specialty      <=50K     91492
                     >50K      83989
 Protective-serv     <=50K     18212
                     >50K       9611
 Sales               <=50K    102226
                     >50K      46625
 Tech-support        <=50K     24869
                     >50K      11724
 Transport-moving    <=50K     55709
                     >50K      15607
Name: hours-per-week, dtype: int64